{% extends 'base.html' %}
{% block title %}
Обновление статьи
{% endblock %}
{% block content %}

    <h1 style="text-align:center;">Обновление статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="container form-control" value="{{ article.title }}" placeholder="Введите название статьи"><br>
        <textarea name="intro" id="intro" class="container form-control" placeholder="Введите анонс статьи">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="container form-control" placeholder="Введите стетью">{{ article.text }}</textarea><br>
        <input type="submit"  class="btn btn-warning" value="Обновить"><br>
    </form>

{% endblock %}